<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="common::header"></head>
<head>
    <script type="text/javascript">
        $(function () {
            $("#submit").click(function () {
                $("#userForm").submit();
                alert("submit");
            });
        });
    </script>
</head>
<body class="flat-blue">
<form id="userForm" name="userForm" th:action="@{/user/addUser}" method='POST' role="form">
    <div class="app-container">
        <div class="row content-container">
            <div class="container-fluid">
                <div class="side-body padding-top">
                    <div class="form-group">
                        <label for="fullname">姓名</label>
                        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="请输入名称"/>
                    </div>
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="请输入名称"/>
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="text" class="form-control" id="password" name="password" placeholder="请输入名称"/>
                    </div>
                    <!--<button id="submit" type="button" class="btn btn-primary">提交</button>-->
                    <input type="submit"></input>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>