<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:include="common::header"></head>
<head>
    <script type="text/javascript" th:src="@{/js/user.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="margin:15px 60px;">
        <div class="panel-body">
            <form class="form-horizontal" id="form_add_user" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="txt_add_fullname">姓名</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="txt_add_fullname" name="fullname"
                               placeholder="请输入姓名"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="txt_add_username">用户名</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="txt_add_username" name="username"
                               placeholder="请输入用户名"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="txt_add_password">密码</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="txt_add_password" name="password"
                               placeholder="请输入密码"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">保存</button>&nbsp;&nbsp;
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>