<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:include="common::header"></head>
<head>
    <script type="text/javascript" th:src="@{/js/user.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="panel-body">
            <form class="form-horizontal" id="form_edit_user" role="form">
                <div class="hide form-group">
                    <label class="col-sm-3 control-label" for="txt_edit_id">ID</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="txt_edit_id" name="id" th:value="${user.id}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="txt_edit_fullname">姓名</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="txt_edit_fullname" name="fullname"
                               th:value="${user.fullname}" placeholder="请输入姓名"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="txt_edit_username">用户名</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="txt_edit_username" name="username"
                               th:value="${user.username}" placeholder="请输入用户名"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>