<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <title>Zachary Chu</title>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'/>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets2/lib/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets2/lib/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets2/lib/css/animate.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets2/lib/css/bootstrap-switch.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets2/lib/css/checkbox3.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets2/lib/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets2/lib/css/dataTables.bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets2/lib/css/select2.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets2/lib/css/bootstrap-table.css}"/>
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets2/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets2/css/themes/flat-blue.css}"/>
    <!-- Layui -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets2/layer/theme/default/layer.css}"/>

    <!-- Javascript Libs -->
    <script type="text/javascript" th:src="@{/assets2/lib/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets2/lib/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets2/lib/js/Chart.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets2/lib/js/bootstrap-switch.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets2/lib/js/jquery.matchHeight-min.js}"></script>
    <script type="text/javascript" th:src="@{/assets2/lib/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets2/lib/js/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets2/lib/js/select2.full.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets2/lib/js/ace/ace.js}"></script>
    <script type="text/javascript" th:src="@{/assets2/lib/js/ace/mode-html.js}"></script>
    <script type="text/javascript" th:src="@{/assets2/lib/js/ace/theme-github.js}"></script>
    <script type="text/javascript" th:src="@{/assets2/lib/js/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/assets2/lib/js/bootstrap-table-zh-CN.js}"></script>
    <!-- Javascript -->
    <script type="text/javascript" th:src="@{/assets2/js/app.js}"></script>
    <!-- Layui -->
    <script type="text/javascript" th:src="@{/assets2/layer/layer.js}"></script>
</head>
</html>